#tituloppal {
  text-shadow: 1px 2px rgb(0, 128, 117);
}

#renglon1 {
  background-color: yellow;
}

#renglon2 {
  color: green;
}

.renglon3y4 {
  background-color: black;
  color: white;
}

.renglon5y6 {
  text-transform: uppercase;
  color: blue;
}

#renglon7 {
  text-shadow: 3px 3px pink;
  font-size: 22px;
}
